extends layout
block content
    .product-category.container
        .breadcrumb(style=product.length > 0 ? "display: block;" : "display: none;")
            ul
                li
                    a(href="/") Home
                li
                    a(href=`/product-category/${product.length > 0 ? product[0].category : ""}`) #{product.length > 0 ? product[0].category : ""}
                li
                    p #{pageTitle}
        include cart.pug
        .category-details
            header
                h2 #{pageTitle}
            .no-item(style=product.length == 0 ? "display: block;" : "display: none;")
                p   
                    i.fa.fa-info
                    span &nbsp;No product avaliable for #{pageTitle}
            .category-area(style=product.length > 0 ? "display: block;" : "display: none;")
                .select-size-and-color
                    .form-field
                        label Color
                        select(name="categoryColor")
                            each item in product
                                each color in item.color
                                    option(value=color) #{color}
                    .form-field
                        label Size
                        select(name="categorySize")
                           each item in product
                                each size in item.sizes
                                    option(value=size) #{size}
                .display-area
                   .display
                        each item in product
                            a(href="/product/"+item.brandName)
                                .item-box
                                    .image
                                        img(src=item.displayPixLink, alt=item.brandName)
                                    .info
                                        p 
                                            strong #{item.brandName}